body {
    background-color: #272727;
}

#menu {
    width: 250px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 3px solid #4b2b8b;
}
    #a {
        font-size: 28px;
        text-decoration: none;
    }
        .a1 {
            color: gold;
        }
        .a2 {
            color: #4b2b8b;
        }
        .a3 {
            color: #4b2b8b;
        }
        .a4 {
            color: #4b2b8b;
        }

#block {
    width: 500px;
    height: 730px;
    background-color: #161616;
    margin: 5px auto 5px auto;
    border-radius: 20px;
    border-top: 3px solid #4b2b8b;
    border-bottom: 3px solid #4b2b8b;
}